src/main/app/philyconndemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:phily-train="http://www.mulesoft.org/schema/mule/phily-train" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/phily-train http://www.mulesoft.org/schema/mule/phily-train/current/mule-phily-train.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <phily-train:config name="PhilyTrain__Configuration" doc:name="PhilyTrain: Configuration"/>
    <flow name="philyconndemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/phily" doc:name="HTTP"/>
        <phily-train:findby-train-no config-ref="PhilyTrain__Configuration" trainNo="#[message.inboundProperties.'http.query.params'.trainno]" doc:name="PhilyTrain"/>
    </flow>
</mule>
